# Objectives :
- List slicing
- List methods
- Tuple (python datastructure)

## list slicing

In [2]:
li=[1,2,3,4,5]
li[2:4]

[3, 4]

In [17]:
li[-1:-4] # when the list index giving a  decrement stepcount then we get it
li[-2:-4:-1]

[4, 3]

In [15]:
l[-2:-4]

[]

In [5]:
li[-2:-4]

[]

In [7]:
li[:3]

[1, 2, 3]

In [8]:
li[3:]

[4, 5]

In [12]:
li[::]

[1, 2, 3, 4, 5]

In [19]:
li[::-1]

[5, 4, 3, 2, 1]

In [16]:
li[:-6:-1]

[5, 4, 3, 2, 1]

In [18]:
li[:-10:-1]

[5, 4, 3, 2, 1]

In [20]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# list methods:
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

In [2]:
l=["c",1,"c++",2,"python"]

In [3]:
# append() : to add element or a list into list (by this we can create nested list)
l.append('hello')
l

['c', 1, 'c++', 2, 'python', 'hello']

In [16]:
# exted : to add more than one element or to concate the list to any other datastructure
l.extend('34')
l

['c',
 1,
 'c++',
 2,
 'python',
 'hello',
 '3',
 '4',
 ['apple', 100],
 'apple',
 100,
 ['apple', 100],
 'apple',
 100,
 ['apple', 100],
 ['apple', 100],
 '3',
 '4',
 6,
 7,
 '3',
 '4',
 6,
 7,
 '3',
 '4',
 '3',
 '4']

In [17]:
l.extend((6,7))
l

['c',
 1,
 'c++',
 2,
 'python',
 'hello',
 '3',
 '4',
 ['apple', 100],
 'apple',
 100,
 ['apple', 100],
 'apple',
 100,
 ['apple', 100],
 ['apple', 100],
 '3',
 '4',
 6,
 7,
 '3',
 '4',
 6,
 7,
 '3',
 '4',
 '3',
 '4',
 6,
 7]

In [10]:
a=[1,2,3]
a.extend(["apple",100])
a

[1, 2, 3, 'apple', 100]

In [12]:
e=[1,2,3]
e.append(["apple",100])
e

[1, 2, 3, ['apple', 100]]

In [18]:
# index(): to know the position of particular element in list
e.index(3)

2

In [20]:
# insert()- to add an element into list in a particular position
c=['x','z',5]
c.insert(1,'y')
c

['x', 'y', 'z', 5]

In [32]:
f=[1,2,3,4]
f.insert(4,6)
f

[1, 2, 3, 4, 6]

In [29]:
# count() : to count the occurence of an particular element
q=[1,2,2,3,3,3]
q.count(2)

2

In [38]:
# copy : to copy one list into the another list
# if we copy list into into already existed elements having list then that list previous elements are deleted
o=[1,2,3]
d=o.copy()
o

[1, 2, 3]

In [48]:
# pop() : delete list and return the last element in list and it is also delete particular element based on position(index)
w=[1,2,3]
w.pop(1)
w

[1, 3]

In [49]:
w.pop()

3

In [2]:
# remove() : remove an element(we have to give the element not position)
i=[12,6,2,3]
i.remove(12)
i

[6, 2, 3]

In [4]:
# del list: delete the list parmently( delete memory location of the list)
q=[1,2,3,4,5]
del q # delete
q

NameError: name 'q' is not defined

In [61]:
# clear() : clear all elements in the list
p=[1,2,3,4,5]
p.clear()
p

[]

In [63]:
# sort() : sort the list( defualtly in ascending order (reverse=False))
v=[4,2,6,1]
v.sort()
v

[1, 2, 4, 6]

In [64]:
# reverse():
v.reverse()
v

[6, 4, 2, 1]

In [70]:
m=[5,1,2,5] 
m.sort(reverse=True) # sorting elements in descending order
m

[5, 5, 2, 1]

In [72]:
m.sort(reverse=False) # sortimg elements in ascending order
m

[1, 2, 5, 5]

# Tuple :
+ Tuples are immutable datastructures
+ we will declare by using ()
+ this can be access the heterogeneous elements

In [80]:
t1=(1,1.2,'python')
print(t1)
print(type(t1))

(1, 1.2, 'python')
<class 'tuple'>

## tuple slicing

In [74]:
t1[2]

'python'

In [75]:
t1[::-1] ## reversing tuple

('python', 1.2, 1)

In [81]:
t2=(1,2,3,4)
t2[1:3] ## forword index

(2, 3)

In [85]:
t2[-2:-4]

()

In [99]:
# to add particular element particular postion this is not possible tuple is immutable
t2[4]=("revathi")
t2

TypeError: 'tuple' object does not support item assignment

## tuple methods:
 count(),index()

In [89]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [90]:
# count() : to return the occurence of an element in a tuple
t=(1,2,3,4,3)
t.count(3)

2

In [91]:
# index() : to get an index value giving element into elements
t[3]

4

In [92]:
len(t) # length

5

In [94]:
sum(t)

13

In [95]:
max(t)

4

In [96]:
min(t)

1

In [98]:
# adding elements into tuple indirectly (tuple-list-extend-list-tuple)
l=list(t) # type conversion
l.extend([1,2,3])
v=tuple(l)
v

(1, 2, 3, 4, 3, 1, 2, 3)