# Objectives 

+ dictionaries
  * used to store the data
  * data will stored in the form of the key:value 
  * denoted(enclsed) by {}
  * it is mutable datatype
  * it can have hetrogenous data
      - {1:2,2:3}
      - {'f':1,2:'s'}
+ sets 
  * used to store the data
  * denoted(enclsed) by {}
  * it is mutable datatype
  * it can have hetrogenous data
     + {1,2,3}
     + {1,1,2,'e'}

# Dictionary:

In [1]:
data={'name':'revathi','clg':'iiit sklm','id':'s170286'}
data

{'name': 'revathi', 'clg': 'iiit sklm', 'id': 's170286'}

In [2]:
d={'f':1,2:'s'}
d

{'f': 1, 2: 's'}

In [3]:
# data accessed by key
data['name']

'revathi'

## Dictionary methods 
***dict*** is key word
+ methods:
   'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

In [4]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [5]:
# keys(): getting all keys in dictionary
data.keys()

dict_keys(['name', 'clg', 'id'])

In [6]:
# values(): getting all values in dictionary
data.values()

dict_values(['revathi', 'iiit sklm', 's170286'])

In [7]:
# items(): getting all key and valu pair of everything in dictionary it return in the form of list
data.items()

dict_items([('name', 'revathi'), ('clg', 'iiit sklm'), ('id', 's170286')])

In [8]:
# fromkeys(): create a new dictionary
a={}
res=a.fromkeys('name',123)
res

{'n': 123, 'a': 123, 'm': 123, 'e': 123}

In [9]:
# update(): to update a key to value in the dictionary(based on keys)
res.update({'a':56,'m': 12})
res

{'n': 123, 'a': 56, 'm': 12, 'e': 123}

In [10]:
# dictionary don't have duplicate keys but it can have duplicate values for different keys

In [11]:
# pop() : remove a particular element based on key 
res.pop('n')
res

{'a': 56, 'm': 12, 'e': 123}

In [12]:
res.pop('e')
res

{'a': 56, 'm': 12}

In [13]:
# popitem(): return last element and last element will be deleted
d={1:'1st',2:'2nd',3:'3rd',4:'4th'}
d.popitem()

(4, '4th')

In [14]:
d

{1: '1st', 2: '2nd', 3: '3rd'}

In [15]:
# setdefault: append an element in dictionary (if u r given only key it will defualtly assign none value)
a={1:'1st',2:'2nd',3:'3rd',4:'4th'}
a.setdefault('hii')
a

{1: '1st', 2: '2nd', 3: '3rd', 4: '4th', 'hii': None}

In [16]:
a.setdefault('h','a')
a

{1: '1st', 2: '2nd', 3: '3rd', 4: '4th', 'hii': None, 'h': 'a'}

In [17]:
# get() : get a value based on key
b={1:2,3:4,5:6}
b.get(1)

2

In [18]:
# copy():
j={}
j=a.copy()
j

{1: '1st', 2: '2nd', 3: '3rd', 4: '4th', 'hii': None, 'h': 'a'}

In [19]:
# clear(): clear the all data in dictionary
a.clear()
a

{}

In [20]:
# print dictionary in dynamically 
#keys = 1 to 10
#values: sqaures of that key
val={}
for i in range(1,11):
     val[i]=i*i
print(val)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

## sets

In [21]:
a={}
print(type(a))

<class 'dict'>

In [22]:
a={1,2,3}
print(type(a))

<class 'set'>

In [23]:
a=set(a)
print(type(a))

<class 'set'>

In [24]:
s={1,8.9,'u'}
s

{1, 8.9, 'u'}

### set methods:
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update'

In [25]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [26]:
a1={1,2,3,4,5}
a2={9,8,7,6,5}
a1

{1, 2, 3, 4, 5}

In [27]:
# copy()
b1={}
b1=a1.copy()
b1

{1, 2, 3, 4, 5}

In [28]:
# diifference()
a1.difference(a2)

{1, 2, 3, 4}

In [29]:
a2.difference(a1)

{6, 7, 8, 9}

In [30]:
# difference_update()
a={1,2,3}
b={2,3,4}
a.difference_update(b)

In [31]:
a

{1}

In [32]:
b.difference_update(a)

In [33]:
b

{2, 3, 4}

In [34]:
# intersection()
a={1,2,3}
b={2,3,4}
a.intersection(b)

{2, 3}

In [35]:
# intersection_update()
a.intersection_update(b)
a

{2, 3}

In [36]:
b.intersection_update(a)
b

{2, 3}

In [53]:
# pop():returns 1st element and that one is deleted
b.pop()

5

In [38]:
b

{2, 3}

In [39]:
# symmetric_difference(): returns the all elements in bothsets after difference is applied
a={1,2,3}
b={2,3,4}
a.symmetric_difference(b)

{1, 4}

In [55]:
# symmetric_difference_update()
a.symmetric_difference_update(b)
a

{1, 2, 3, 4}

In [40]:
# union():
a.union(b)

{1, 2, 3, 4}

In [41]:
# update():
a.update({2,3})
a

{1, 2, 3}

In [42]:
a.update({4,5})
a

{1, 2, 3, 4, 5}

In [43]:
#clear():
a.clear()
a

set()

In [44]:
# discard(): delete particular element
b.discard(3)
b

{2, 4}

In [45]:
# isdisjoint
# issubset
# issuperset

In [48]:
a={1,2,3,4}
b={1,2}
b.issubset(a)

True

In [50]:
a.issuperset(b)

True

In [51]:
a.isdisjoint(b)

False

In [62]:
a={1,2,3,4}
b={5,6}
a.isdisjoint(b)

True

In [63]:
# remove():remove an element
a.remove(3)
a

{1, 2, 4}

In [67]:
# add(): to add element to the set
a.add(5)
a

{1, 2, 4, 5}