   # Objectives
   
   + Python Variables
   + datatypes in python
   + typecasting
   + possible errors in python
   + introduction to string

# Python Variables

In [1]:
# variables are used to store a value
# python has no command for declaring a variable
# A variable is creates the moment you first assigned a value to it

In [7]:
x=10
print(x)

10

In [8]:
# we can change the value of the variable at any time

In [10]:
x=20
print(x)

20

In [ ]:
# we can utilize one cell in variable in another cell

In [12]:
y=30
print(x)

20

+ python rules for creating variable

In [24]:
# a variable name must start with a letter or with an underscore character
_x=10
x

20

In [23]:
# a variable name can not start with number or a digit
2=10
2

SyntaxError: can't assign to literal (<ipython-input-23-b82a303ec2bf>, line 2)

In [27]:
# a variable name can only contain alphanumaric characters and underscore
w_12=18
w_12

18

In [28]:
# variables are case sensitive
a=10
print(A)
print(a)

NameError: name 'A' is not defined

In [29]:
## we can assign single value for multiple variables
x=y=z=10
print(x)
print(y)
print(z)

10
10
10

In [31]:
## single variable to we can assign multiple values
a=20
print(a)
a=30
a=10
print(a)

20
10

In [32]:
## many values to single variable
a=10,20,30,40
print(a)

(10, 20, 30, 40)

In [35]:
# many values to multiple variables  //the no.of values is equal to given no.of variables
x,y,z=30,40,50
print(x)
print(y)
print(z)

30
40
50

# Datatypes In Python

In [36]:
#data type mention the variable have in which type
# type() used to check the datatype of variable

In [38]:
# int 
a=10 # no need  to declare the variable datatype
print(type(a))

<class 'int'>

In [40]:
# float
x=-2.3
print(type(x))

<class 'float'>

In [41]:
type(x)

float

In [43]:
# complex (imaginary numbers)
z=1+3j
type(z)

complex

In [48]:
# str 
# string is a collection of charcters
# in python strings are denoted with single quotations or double quotatations
A="hellW"
print(type(A))
A='o'
print(type(A))

<class 'str'>
<class 'str'>

# Type Casting

In [49]:
# converting from one datatype another datatype

In [52]:
# converting int to float
a=20
a=float(a)
print(type(a))
print(a)

<class 'float'>
20.0

In [59]:
# converting float to int
f=304.56789
f=int(f)
print(type(f))
print(f)

<class 'int'>
304

In [57]:
#int to str
a=20
a=str(a)
print(type(a))
print(a)

<class 'str'>
20

In [60]:
#float to str
f=304.56789
f=str(f)
print(type(f))
print(f)

<class 'str'>
304.56789

In [4]:
# we can not complex into int or into float
a=2+3j
a=int(a)
print(type(a))
print(a)

TypeError: can't convert complex to int

In [3]:
#int int0 complex
a=30
a=complex(a)
print(type(a))
print(a)

<class 'complex'>
(30+0j)

In [68]:
#float into complex
a=30.345
a=complex(a)
print(type(a))
print(a)

<class 'complex'>
(30.345+0j)

In [72]:
# we can't convert str to float or int
a="hello"
a=float(a)
print(type(a))

ValueError: could not convert string to float: 'hello'

In [73]:
# str to complex 
a="hii"
a=complex(a)
print(type(a))
print(a)

ValueError: complex() arg is a malformed string

In [76]:
# complex to str
a=30+7j
a=str(a)
print(type(a))
print(a)

<class 'str'>
(30+7j)

# Possible Errors In Python

In [82]:
# Indentation  Error (tab spacing missing )
for i in range(5):
print(i)

IndentationError: expected an indented block (<ipython-input-82-c0027d67ccaa>, line 3)

In [86]:
# Syntax Error
for i in range(3);
 print(i)

SyntaxError: invalid syntax (<ipython-input-86-16712d427074>, line 2)

In [87]:
a="hee
print(a)

SyntaxError: EOL while scanning string literal (<ipython-input-87-219d797d8c24>, line 1)

In [90]:
# name NOT DEFINED ERROR ( name error) //missing variables
# in functions this error will be occured
l=10;
print(j)

NameError: name 'j' is not defined

# Strings In Python

In [91]:
# string is a collection of characters
# it wiil enclosed single or double quotes
# str is datatype of string

In [92]:
# type()-getting for datatype of variable value
a="123456i"
print(type(a))

<class 'str'>

In [95]:
## multiline strings are denoted with 3 double quotes or 3 single quotes
x="""pyon is high leval language we can combine c and java"""
print(type(x))
y='''manes are available in march month'''
print(type(y))

<class 'str'>
<class 'str'>

In [98]:
# string Indexing
## in string memory allocation based on the index position 
## index position starts at 0 and ends at one less than actual size str
## len()-for getting size of str

In [101]:
c="python programming"
print(len(c))
#length equals to size of memory for that str

18

In [113]:
# deriving or access character or elements using the string indexing
# index position denoted with square braces []
# index position must be integer
a="caabcdef"
print(a[7]) # str left to right (0 t0 size-1)
print(a[-1]) # str right to left(-1 ,-2,...)
print(a[len(a)-1])

f
f
f